name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Generate snake SVG
        uses: Platane/snk@v3
        id: snake
        with:
          github_user_name: MarshallxMG
          outputs: |
            dist/snake.svg
            dist/snake-dark.svg?palette=github-dark

      - name: Push snake to output folder
        run: |
          mkdir -p output
          cp dist/snake.svg output/github-contribution-grid-snake.svg
          cp dist/snake-dark.svg output/github-contribution-grid-snake-dark.svg
        shell: bash

      - name: Commit updated snake
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Update snake animation"
